<app-playlist-header-bar [playlist]="playlist()" [songsNumber]="songs().length" [totalDuration]="totalDuration()"></app-playlist-header-bar>
<div class="px-6 text-gray-500">
  @if (songs().length > 0 && !loading()){
  <div class="grid grid-cols-2 px-5 py-2 separation">
    <div class="flex items-center space-x-4">
      <span class="w-8 text-center">#</span>
      <span class="w-36 lg:w-64">Title</span>
    </div>
    <div class="flex items-center justify-between ml-auto md:ml-0">
      <span class="hidden md:inline w-40">Added</span>
      <span> <fa-icon [icon]="'clock'"></fa-icon></span>
    </div>
  </div>
  @for (song of songs(); track song.publicId; let index = $index){
  <div class="grid grid-cols-2 py-2 px-5 hover:bg-[#121212] rounded">
    <div class="flex items-center space-x-4">
      <span (mouseenter)="hoveredIndex.set(index)" (mouseleave)="hoveredIndex.set(null)" class="inline-block w-8 text-center">
        @if (hoveredIndex() === index) { @if(songPlayed()?.publicId === song.publicId && player.isPlaying()){
        <fa-icon [icon]="'pause'" class="text-white" (click)="pause($event)"></fa-icon>
        } @else {
        <fa-icon [icon]="'play'" class="text-white" (click)="play(song)"></fa-icon>
        } } @else {
        {{ index + 1 }}
        }
      </span>
      <img class="h-10 w-10" [src]="'data:' + song.cover?.fileContentType + ';base64,' + song.cover?.file" alt="song-cover" />
      <div class="flex flex-col gap-1">
        <span class="w-36 lg:w-64 truncate text-white" [ngClass]="{ 'green-spotify': songPlayed()?.publicId === song.publicId }">{{ song.title.value }}</span>
        <span class="w-40">{{ song.artist.value }}</span>
      </div>
    </div>

    <div class="flex items-center justify-between ml-auto md:ml-0">
      <span class="hidden md:inline w-40">{{ song.dateAdded | date : 'd MMMM, y' }}</span>
      <div class="flex items-center gap-2">
        <div class="cursor-pointer">
          <app-menu-playlist [song]="song" [menuFromPlayer]="false"></app-menu-playlist>
        </div>
        <span class="duration">{{ song.duration.value | duration }}</span>
      </div>
    </div>
  </div>
  } } @else if (loading()){
  <div class="flex justify-center items-center">
    <fa-icon icon="circle-notch" animation="spin" class="text-green-600 text-4xl"></fa-icon>
  </div>
  } @else {
  <div class="flex justify-center items-center h-48">
    <p class="text-xl">Your playlist is empty. <a [routerLink]="['/home']">View library</a></p>
  </div>
  }
</div>
