<div class="items-center gap-4 flex" [class.opacity-0]="!song()" [class.pointer-events-none]="!song()">
  @if (song()){
  <img class="h-16 w-16 rounded hidden md:block" [src]="'data:' + song()!.cover?.fileContentType + ';base64,' + song()!.cover?.file" alt="Song cover" alt="" />
  <div class="flex justify-center items-center gap-4">
    <div class="flex flex-col gap-[2px] flex-wrap">
      <span class="truncate font-bold max-w-60 w-fit">{{ song()!.title.value }}</span>
      <span class="text-gray-500">{{ song()!.artist.value }}</span>
    </div>
    <div class="">
      <app-menu-playlist [song]="song()"></app-menu-playlist>
    </div>
  </div>
  }
</div>
