<div class="text-gray-500 border-r border-gray-900 no-scrollbar h-screen w-[360px] pb-36">
  <div class="space-y-4 p-5">
    @for (menuLink of itemMenu1; track menuLink.label) {
    <span class="flex items-center gap-4 hover:text-white cursor-pointer" (click)="menuLink?.command($event)">
      <fa-icon [icon]="menuLink.icon"></fa-icon> {{ menuLink.label }}
    </span>
    }
    <hr class="border-t-[0.1px] border-gray-900" />

    @for (menuLink of itemMenu2; track menuLink.label) {
    <span class="flex items-center gap-4 hover:text-white cursor-pointer" (click)="menuLink?.command($event)">
      <fa-icon [icon]="menuLink.icon"></fa-icon> {{ menuLink.label }}
    </span>
    }

    <hr class="border-t-[0.1px] border-gray-900" />
  </div>

  <div class="py-3">
    @if (playlists().length > 0 && !loading()) { @for (playlist of playlists(); track playlist.title) {
    <app-playlist-item [playlist]="playlist" [owner]="authService.fetchUser().value?.firstName ?? ''" (playlistClick)="onPlaylistClick($event)"></app-playlist-item>
    } } @else if (loading()) {
    <div class="flex justify-center items-center">
      <fa-icon icon="circle-notch" animation="spin" class="text-green-600 text-4xl"></fa-icon>
    </div>
    }
  </div>
</div>
