<div class="h-24 bg-[#121212] grid grid-cols-2 md:grid-cols-3 items-center px-6 md:px-2 text-xs md:text-base">
  <!-- LEFT SECTION -->
  <div class="hidden md:block">
    <app-player-song-section [song]="song()"></app-player-song-section>
  </div>

  <!-- CENTER -->

  <div class="flex flex-col items-center space-y-2 h-full">
    <div class="flex items-center justify-evenly gap-[6px] pt-4">
      <fa-icon [icon]="'shuffle'" class="icon fa-fw"></fa-icon>
      <fa-icon [icon]="'backward-step'" class="icon fa-fw"></fa-icon>

      @if (isPlaying()){
      <fa-icon [icon]="'pause'" class="icon--major fa-fw" (click)="pause($event)"></fa-icon>
      } @else {
      <fa-icon [icon]="'play'" class="icon--major fa-fw play-icon-svg" (click)="play($event)"></fa-icon>
      }

      <fa-icon [icon]="'forward-step'" class="icon fa-fw"></fa-icon>
      <fa-icon [icon]="'arrow-rotate-left'" class="icon fa-fw"></fa-icon>
    </div>

    <div class="flex items-center justify-center w-full gap-2 max-w-[600px]">
      <span class="small-text">{{ progress() | durationHowlerFormat }}</span>
      <input
        #audioSlider
        type="range"
        class="w-full custom-range"
        [min]="0"
        [max]="duration()"
        striped="true"
        [ngModel]="progress()"
        (input)="onSeekPosition($event)"
        [class.webkit]="isWebkit"
      />
      @if (song()){
      <span class="small-text">{{ song()!.duration.value | duration }}</span>
      }
    </div>
  </div>

  <!-- RIGHT SIDE  -->

  <div class="flex items-center justify-end space-x-3 md:space-x-3 h-full">
    <fa-icon [icon]="volumeIcon()" class="icon fa-fw hidden md:block" (click)="onMuteVolume($event)"></fa-icon>
    <input
      #volumeSlider
      type="range"
      min="0"
      max="1"
      name="volume"
      (input)="onVolumeUpdate($event)"
      step="0.01"
      [ngModel]="currentVolume()"
      [class.webkit]="isWebkit"
      class=""
    />
  </div>
</div>
